@model ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
}
<div class="container col-6 border border-3 mt-3 rounded rounded-3">

    <h4>تغییر کلمه عبور</h4>
   <pre>

   </pre>
    <form method="post">
        @if (ViewBag.issucces != null)
        {
            <div class="alert alert-success">
                <p class="help-block">
                    تغییر کلمه عبور با موفقیت انجام شد
                </p>
            </div>
        }
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">کلمه عبور جدید:</label>
            <div class="col-sm-10">
                <input asp-for="Password" type="password" class="form-control" id="inputPassword3">
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label"> تکرار کلمه عبور:</label>
            <div class="col-sm-10">
                <input asp-for="RePassword" type="password" class="form-control" id="inputPassword3">
            </div>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>
        <pre>

    </pre>
        <button type="submit" class="btn btn-success">ذخیره</button>
        <a class="btn btn-primary" asp-action="Index" asp-route-id="@ViewBag.userid">بازگشت</a>
    </form>

<pre>



</pre>

</div>

