@page
@model MyEshop.Pages.Admin.Categories.CreateModel
@{
    ViewData["Title"] = "افزودن دسته بندی";
}




<div class="row justify-content-center">

    <div class=" card mt-3" style="width: 18rem;">

        <form method="post">
            
            <div class="card-body">
                <h5 class="card-title">افزودن دسته بندی</h5>
                <hr />
                
                <div class="row align-items-center">
                    <label class="col-auto m-1">نام دسته بندی:  </label>
                    <input type="text" asp-for="Category.Name" class="col-auto"/>
                </div>
                <pre></pre>
                <button type="submit"  class="btn btn-success">ذخیره</button>
                <a asp-page="Index" class="btn btn-primary">بازگشت</a>
            </div>
        </form>

    </div>
</div>