@page
@model MyEshop.Pages.Admin.Products.CreateModel
@using Core
@inject ICategoryService _categoryService
@{
    ViewData["Title"] = "افزودن کالا";
    ViewData["Category"] = new SelectList(_categoryService.GetCategories(), "CategoryId", "Name");
}


<div class="row container mt-2">
    <div class="col-md-4">
        <form method="post" asp-page="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Prouduct.CategoryId" class="control-label"> دسته بندی (کلیک کنید) </label>
                <select asp-for="Prouduct.CategoryId" class="form-control mt-2" asp-items="@(ViewData["Category"] as SelectList)"></select>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Prouduct.Name" class="control-label"></label>
                <input asp-for="Prouduct.Name" class="form-control" />
                <span asp-validation-for="Prouduct.Name" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="Prouduct.Price" class="control-label"></label>
                <input asp-for="Prouduct.Price" class="form-control" type="number" />
                <span asp-validation-for="Prouduct.Price" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="Prouduct.Description" class="control-label"></label>
                <input asp-for="Prouduct.Description" class="form-control" />
                <span asp-validation-for="Prouduct.Description" class="text-danger"></span>
            </div>
            <pre></pre>
            <div class="row mt-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">عکس</label>
                <img id="img" src="/ProductsImages/NoPhoto.jpg" style="height:200px;width:200px;" />
            </div>

            <div class="form-group mt-3">
                <label class="control-label">انتخاب عکس</label>
                <pre></pre>
                <input id="productimage" asp-for="Prouduct.Image" class="form-control" type="file"/>
                <span asp-validation-for="Prouduct.Image" class="text-danger"></span>
            </div>

            @*<div asp-validation-summary="All">

            </div>*@

            <div class="form-group" style="margin-top:20px;">
                <input type="submit" value="افزودن کالا" class="btn btn-success" />
                <a class="btn btn-primary" href="/Admin/Products/Index">بازگشت</a>
            </div>
        </form>
    </div>
</div>



@section Scripts{
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#img').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#productimage").change(function() {
            readURL(this);
        });
    </script>
}