@page
@model MyEshop.Pages.Admin.Products.DeleteModel
@{
}



<div class="row justify-content-center">

    <div class=" card mt-3" style="width: 18rem;">

        <form method="post" asp-page="Delete">
            <div class="card-body">
                <h5 class="card-title">حذف کالا</h5>
                <hr />
                <p class="card-text">آیا از حذف این کالا مطمئن هستید؟</p>
                <div class="row align-items-center">
                    <label class="col-auto m-1">نام کالا:  </label>
                    <label class="col-auto">@Model.Product.Name</label>
                </div>
                <pre></pre>
                <button type="submit" asp-route-productId="@Model.Product.ProductId" class="btn btn-danger">حذف</button>
                <a asp-page="Index" class="btn btn-primary">بازگشت</a>
            </div>
        </form>

    </div>
</div>
