@model DataLayer.User
@{
    Layout = null;
}

<div dir="rtl" style="padding: 20px;">
    <h3>@Model.Name عزیز!</h3>
    <p>برای بازنشانی تنظیمات ورود خود به سایت بر روی لینک زیر کنید</p>
    <p>
        <a href="https://localhost:7098/Home/ResetInformation/@Model.ActiveCode">بازنشانی حساب</a>
    </p>
</div>


