
@{
    ViewData["Title"] = "_SuccessfulRegister";
}

<div class="alert alert-success">
    <p>
        کاربر عزیز ثبت نام شما با موفقیت انجام شد.ما ایمیل فعالسازی را برایتان ارسال کردیم.جهت فعال سازی حساب به ایمیل خود مراجعه کرده و بر روی لینک ارسال شده کلیک کنید.
    </p>
</div>

