@page
@model MyEshop.Pages.Admin.Roles.IndexModel
@{
    ViewData["Title"] = "نقش ها";
}

<div class="container">
    <table class="table">
        <thead>
            <tr>

                <th scope="col">نام نقش</th>
                <th scope="col">عملیات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Roles)
            {
                <tr>

                    <td>@item.Name</td>
                    <td>
                        <a class="btn btn-warning" asp-page="Edit" asp-route-roleId="@item.RoleId">ویرایش</a> | <a class="btn btn-danger" asp-page="Delete" asp-route-roleId="@item.RoleId">حذف</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <pre></pre>

    <a asp-page="Create" class="btn btn-success">افزودن</a>
    <a href="/" class="btn btn-primary">بازگشت</a>


</div>