@model DataLayer.ResetPassword
@{
    ViewData["Title"] = "ResetPassword";
}

<h2>بازنشانی اطلاعات ورود به سایت</h2>
<hr/>
<pre>

</pre>


<form method="post" >
    <input type="hidden" value="@ViewBag.activecode" name="activeCode"/>
   
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">کلمه عبور:</label>
        <div class="col-sm-10">
            <input asp-for="Password" type="password" class="form-control" id="inputPassword3">
        </div>
    </div>

    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label"> تکرار کلمه عبور:</label>
        <div class="col-sm-10">
            <input asp-for="RePassword" type="password" class="form-control" id="inputPassword3">
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <pre>

    </pre>
    <button type="submit" class="btn btn-primary">بازنشانی اطلاعات</button>
</form>
